[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = "*"
lxml = "*"
tomd = "*"
ujson = "==5.3.0"

[dev-packages]
pytest = "*"
pytest-xdist = "*"
pytest-cov = "*"
flake8 = "*"
mypy = "*"

[requires]
python_version = "3.8"
