[tool.poetry]
name = "jianshuresearchtools"
version = "2.11.0"
description = "科技赋能创作星辰"
authors = ["yezi <yehaowei20060411@qq.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.7"
lxml = "^4.9.2"
httpx = "^0.24.0"
tomd = { version = "^0.1.3", optional = true }
ujson = { version = "^5.7.0", optional = true }

[tool.poetry.group.dev.dependencies]
ruff = "^0.0.261"
pyright = "^1.1.303"
black = "^23.3.0"
pyyaml = "^6.0"
pytest = "^7.3.1"
pytest-xdist = "^3.2.1"
pytest-cov = "^4.0.0"

[tool.poetry.extras]
md-convert = ["tomd"]
high-perf = ["ujson"]
full = ["tomd", "ujson"]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
